@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .toggle-switch {
        @apply relative flex h-6 w-11 items-center rounded-full transition-all duration-200 cursor-pointer;

        &.active {
            @apply bg-emerald-400;
        }

        &.inactive {
            @apply bg-gray-200;
        }

        & .toggle-thumb {
            @apply inline-block h-5 w-5 transform rounded-full bg-white shadow-md transition-transform duration-200;
        }

        &.active .toggle-thumb {
            @apply translate-x-5.5;
        }

        &.inactive .toggle-thumb {
            @apply translate-x-0.5;
        }
    }
}
